.proteins-result-container {
  width: 80%;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.protein-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 12px;
}

.title-id{
  display: flex;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}

.score-container {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.score-container > div {
  margin-right: 30px;
}

.actions{
  display: flex;
  align-items: end;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.success {
  background-color: #4caf50;
}

.running {
  background-color: #ff9800;
}

.pending {
  background-color: #9e9e9e;
}
